@import "tailwindcss";

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #020617;
  color: #f8fafc;
  overflow: hidden;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  background-color: #020617 !important;
}

.leaflet-pane { z-index: 10 !important; }
.leaflet-top, .leaflet-bottom { z-index: 20 !important; }