CDSE_CLIENT_ID=sh-5d3d0712-c244-4b5a-8cc1-654f324409dd
CDSE_CLIENT_SECRET=6p8sxVUNZ2W56mnYe5DHCxKvqqGFEVYx

CDSE_TOKEN_URL=https://identity.dataspace.copernicus.eu/auth/realms/CDSE/protocol/openid-connect/token
CDSE_CATALOG_URL=https://sh.dataspace.copernicus.eu/catalog/v1/search
CDSE_PROCESS_URL=https://sh.dataspace.copernicus.eu/process/v1
CDSE_COLLECTION=sentinel-1-grd
CDSE_BACKSCATTER_COEFFICIENT=SIGMA0_ELLIPSOID

AISSTREAM_API_KEY=45331a5b4e34da290747d97cbd17280d6035b0f6

COPERNICUSMARINE_SERVICE_USERNAME=april.appy24@gmail.com
COPERNICUSMARINE_SERVICE_PASSWORD=Lexicon654321.