CDSE_CLIENT_ID=sh-5d3d0712-c244-4b5a-8cc1-654f324409dd
CDSE_CLIENT_SECRET=6p8sxVUNZ2W56mnYe5DHCxKvqqGFEVYx

CDSE_TOKEN_URL=https://identity.dataspace.copernicus.eu/auth/realms/CDSE/protocol/openid-connect/token
CDSE_CATALOG_URL=https://sh.dataspace.copernicus.eu/catalog/v1/search
CDSE_PROCESS_URL=https://sh.dataspace.copernicus.eu/api/v1/process
CDSE_COLLECTION=sentinel-1-grd